.Login{
    height: 100vh;
    background-color:rgb(196, 194, 194);
    display:flex;
    justify-content: center;
    align-items: center;
}
.Login__content{
    width:30%;
    background-color: white;
    padding:20px;
    border-radius: 10px;
}

.Login__content__registration{
    margin-top: 10;
}